{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <!-- Course Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-150 h-100" src="{{ image }}" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">
                        {{ user_type }}
                    </h6>
                    <hr>
                    <h1 class="mb-2 fs-6">
                        <i class="fa-regular fa-user"></i>
                        {{ full_name }}
                        <span class="m-lg-5">

                            <!-- If user has PERMISSION to CHANGE profile data -->
                            {% if request.user|allowed_to:'profile.change_profile' or request.user.profile.pk == profile.pk %}
                                <a class="m-sm-1" href="{% url 'profile-edit' profile.pk %}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                            {% endif %}

                            <!-- If user has PERMISSION to DELETE profile -->
                            {% if request.user|allowed_to:'profile.change_profile' or request.user.profile.pk == profile.pk %}
                                <a class="m-sm-1" href="{% url 'profile-delete' profile.pk %}"><i
                                        class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </span>
                    </h1>
                    <hr>
                    <p class="mb-4 fs-20"><i class="fa-solid fa-circle-info"></i> {{ bio }}</p>
                    <p class="mb-4 fs-20">Age: {{ age }}</p>
                    <p class="mb-4 fs-20">
                        Course:
                        {% if course %}
                            <a
                                    href="{% url 'course-details' course.slug course.pk %}"
                                    style="color: yellow;"
                            >
                                {{ course }}
                            </a>
                        {% else %}
                            No course
                        {% endif %}
                    </p>
                    <p class="mb-1 fs-6">
                        <i class="fa-solid fa-book"></i>
                        {{ profile.user.books.count }} book/s
                    </p>
                    <ul class="mb-4 fs-6">
                        {% for book in profile.user.books.all %}
                            <li>
                                <a
                                        href="{% url 'book-details' book.pk %}"
                                        class="text-decoration-none"
                                        style="color: yellow;"
                                >
                                    {{ book }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Course End -->
{% endblock %}