{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="form-section">
        <div class="form-container">
            <h2 class="mb-4">Delete "{{ request.user.profile.get_full_name }}'s" Profile?</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-danger p-1 w-20 mt-4 m-lg-0" type="submit" tabindex="0">Delete</button>
                <a
                    href="{% url 'profile-details' user.profile.pk %}"
                    class="btn btn-dark p-1 w-20 mt-4 m-lg-2"
                    type="submit"
                    tabindex="0"
                >
                    Cancel
                </a>
            </form>
        </div>
    </div>
        </div>
    </div>
{% endblock %}