{% extends 'base.html' %}

{% block content %}
    <div class="form-section">
        <div class="form-container">
            <h2 class="mb-4">Edit/Create Profile:</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <p style="font-size: 0.8em; color: lightskyblue; padding-left: 0.5em" >
                        {{ field.help_text }}
                    </p>
                {% endfor %}
                <button class="btn btn-primary p-2 w-40 mt-4 m-lg-0" type="submit" tabindex="0">Edit</button>
                <a
                    href="{% url 'profile-details' user.id %}"
                    class="btn btn-success p-2 w-40 mt-4 m-lg-2"
                    type="submit"
                    tabindex="0"
                >
                    Cancel
                </a>
            </form>
        </div>
    </div>

{% endblock %}