{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img
                                id="photo"
                                class="img-fluid position-absolute w-100 h-100"
                                src="{% static 'img/about.jpg' %}" alt=""
                                style="object-fit: cover;"
                        >
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to UniversityApp</h1>
                    <p class="mb-4">Have you ever dreamed of developing cool and unique Web or GraphicDesigns? Have you
                        imagined of being a Team Leader of a VideoEditing or OnlineMarketing company?</p>
                    <p class="mb-4">Participate in our short-terms interactive and educative courses, prepared and
                        leaded by our professional mentors from all around the Globe! Get familiar with modern software
                        technologies and understand how things work "under the hood"!</p>
                    <p class="mb-4">Or simply join our team and "Let us together do this, which others will do
                        tomorrow!</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Professional Courses</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate
                            </p>
                        </div>
                    </div>
                    <a
                            href="#"
                            id="info-more"
                            class="btn btn-primary py-2 px-5 mt-2"
                            onclick="document.getElementById('about-more').style.display='block';
                                this.style.display='none';
                            "
                    >
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- About More (hidden) Start -->
    <div id="about-more" class="container-xxl py-5 mt-2" style="display: none">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img
                                id="photo"
                                class="img-fluid position-absolute w-100 h-100"
                                src="{% static 'img/background-11.jpg' %}" alt=""
                        >
                    </div>
                </div>
                <div
                        class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"
                        style="background-color: rgba(255, 255, 255, 0.2);"
                >
                    <h1 class="mb-4">What is the purpose of UniversityApp?</h1>
                    <p class="mb-4">UniversityApp is an online educational platform opened for everyone, who aims to
                        learn the concepts of software and web technologies. In order to develop oneself as a proven
                        and experienced software developer, they need to put a serious amount of efforts and
                        undoubtedly dedicate themselves into making a dream come true.
                    </p>
                    <p class="mb-4">Our interactive and professional educational system provides modern patterns
                        and follows advanced principles and protocols in educating and preparing people from all
                        around the globe to effortlessly enter the world of wed & video development, deployment of web
                        applications, online marketing and last but not least, graphic design.
                    </p>
                    <p class="mb-4">We motivate our team and our students by involving them into various
                        international competitions, olympiads and other events with educational purposes. If your
                        requirements and expectations meet our educational conditions, we advise you not to squander
                        the opportunity UniversityApp gives you. Get started now! :)
                    </p>
                    <a
                            href="#"
                            class="btn btn-primary py-2 px-5 mt-2"
                            onclick="
                                document.getElementById('about-more').style.display='none';
                                document.getElementById('info-more').style.display='inline-block';
                            "
                    >
                        Hide
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- About More (hidden) End -->

    <!-- Info Panel Start -->
    {% include 'about/info-panel.html' %}
    <!-- Info Panel End -->

{% endblock %}