<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-3">
            <p
                id="info-panel"
                class="section-title bg-white p-lg-1 text-primary mb-3 fs-6"
                style="margin: 0 auto"
            >
                Info Panel
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <a href="{% url 'about-team' %}" class="text-decoration-none" rel="help">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Expert Lectors</h5>
                            <p>Our lector team has proven their expertise and skill set in different aspects
                                in technologies of software development.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <a href="{% url 'about-students' %}" class="text-decoration-none" rel="help">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5 class="mb-3">Students</h5>
                            <p>Our student society follows a high standard educational pattern, involving unique
                                theoretical and practical methods.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <a href="{% url 'albums' %}" class="text-decoration-none" rel="help">
                        <div class="p-4">
                            <i class="fa-regular fa-3x fa-images"></i>
                            <h5 class="mb-3 mt-3">Gallery</h5>
                            <p>Take a virtual tour in our university. Enjoy the beautiful sceneries, parks, long halls
                                and infrastructure surrounding it.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>