{% load static %}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3 mb-3">Comments section</h6>

            <!-- Start Comment Form -->

            {% if request.user.is_authenticated %}
                <div class="form-control mb-3 bg-transparent">
                    <form method="post" class="comment-form" action="{% url 'add-comment' course.slug course.pk %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button class="btn btn-info py-1 fs-6 mt-2" type="submit" id="button-addon2">
                            Comment
                        </button>
                    </form>
                </div>
            {% endif %}
            <!-- End Comment Form -->

        </div>

        <!-- Comment Item -->
        {% for comment in comments %}
            <div class="testimonial-item mb-3">
                {% if comment.user.profile %}
                    <a
                            href="{% url 'profile-details' comment.user.profile.pk %}"
                            class="text-decoration-none mb-0"
                    >
                        <img
                                class="rounded-circle p-1 mb-0"
                                src="{{ comment.user.profile.personal_image }}"
                                style="width: 40px; height: 40px;"
                                alt="#"
                        >
                        <span class="text-start" style="font-size: 0.9em; color: antiquewhite">
                            {{ comment.user.profile.get_full_name }}
                        </span>
                    </a>
                {% else %}
                    <span
                            href="#"
                            class="mb-0"
                    >
                                <img
                                        class="rounded-circle p-2 mb-0"
                                        src="{% static 'img/no_account.png' %}"
                                        style="width: 40px; height: 40px;"
                                        alt="#"
                                >
                                <span class="text-start disabled" style="font-size: 0.9em; color: lightgray">
                                    Deleted account
                                </span>
                            </span>
                {% endif %}
                <span class="text-start p-lg-1" style="font-size: 0.7em;">
                    {{ comment.created_at }}
                </span>

                {% if user.is_superuser or comment.user.pk == request.user.profile.pk %}
                <span class="p-lg-2">
                    <a href="{% url 'edit-comment' course.slug course.pk comment.pk %}" class="text-decoration-none">
                        <i class="fa-solid fa-pen-to-square"  style="color: darkslategray;"></i>
                    </a>
                    <a href="{% url 'delete-comment' course.slug course.pk comment.pk %}" class="text-decoration-none">
                        <i class="fa-solid fa-trash"  style="color: darkslategray;"></i>
                    </a>
                </span>
                {% endif %}

                <div class="testimonial-text bg-light text-md-start p-2">
                    <span class="lh-1 mb-1" style="font-size: 0.8em">
                        {{ comment.content }}
                    </span>
                </div>
            </div>
        {% empty %}
            <h1 class="mb-5 text-center">No comments for this course yet...</h1>
        {% endfor %}
        <!-- End Comment Item -->

    </div>
</div>