:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

form li {
    font-size: 0.8em;
    color: red;
}

.helptext li,
span.helptext {
    font-size: 0.85em;
    color: lightskyblue;
}