{% extends 'base.html' %}

{% block content %}
    <!-- Course Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-150 h-auto" src="{{ course.photo }}" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">{{ course.category }}</h6>
                    <hr>
                    <h1 class="mb-2 fs-3">
                        {{ course.name }}

                        <span class="fs-5">
                            {% if request.user.profile.is_lector and request.user.profile.course_id == course.pk %}
                                <a class="text-decoration-none fs-5" href="{% url 'course-edit' course.slug course.pk %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="text-decoration-none fs-5" href="{% url 'course-delete' course.slug course.pk %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            {% endif %}
                        </span>

                        {% if user.profile.course_id is None %}
                            <!-- If user NOT in ANY course-->
                            <a class="btn btn-primary m-lg-2 py-1 px-3 mt-0" href="{% url 'user-add' course.slug course.pk %}">
                                <i class="fa-solid fa-plus"></i>
                                Join Course
                            </a>
                            <!-- If user HAS ALREADY JOINED course -->
                        {% elif user.profile.course_id == course.pk %}
                            <span class="text-md-end m-lg-2">
                                <span class="badge bg-success fs-6">
                                    <i class="fa-solid fa-check"></i>
                                    Joined!
                                </span>
                                <a href="{% url 'user-remove' course.slug course.pk %}">
                                    <span class="badge bg-dark fs-6">Quit?</span>
                                </a>
                            </span>

                        {% endif %}
                    </h1>

                    <p class="mb-3 fs-6"><i class="fa-solid fa-user-tie"></i> {{ lector }}</p>
                    {% if course.lector and request.user.is_superuser %}
                        <a
                            href="{% url 'lector-remove' course.slug course.pk %}"
                            class="flex-shrink-0 btn btn-sm btn-warning px-2"
                            style="border-radius: 30px;"
                        >
                            Remove lector
                        </a>
                    {% endif %}
                    <hr>
                    <p class="mb-4 fs-20"><i class="fa-solid fa-circle-info"></i> {{ course.description }}</p>
                    <hr>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-calendar"></i> {{ course.start_date }}</span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-star"></i> <strong>{{ course.credits }}</strong> credits</span>
                    <span class="mb-4 m-lg-4 fs-6">
                        <i class="fa-regular fa-clock"></i>
                        <strong>{{ course.duration }}</strong>
                        weeks
                    </span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-solid fa-users"></i>
                        {{ students_count }}
                        student/s</span>
                    <hr>
                </div>
            </div>
        </div>

        <!-- Start Comments section -->
        {% include 'courses/course_details/course-comments.html' %}
        <!-- End Comments section -->

    </div>
    <!-- Course End -->
{% endblock %}