{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="form-section">
                <div class="form-container">
                    <h2 class="mb-4">"Delete photo?</h2>
                    <p>{{ photo.photo }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-danger p-1 w-20 mt-1 p-1" type="submit" tabindex="0">Delete</button>
                        <a href="javascript:history.back();" class="btn btn-dark p-1 w-20 mt-1 p-1">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}