{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="form-section">
                <div class="form-container">
                    <h2 class="mb-4">Add photo:</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field }}
                            <span class="helptext">
                                {{ field.help_text }}
                            </span>
                            {{ field.errors }}
                        {% endfor %}
                        <button class="btn btn-info w-25 mt-4 p-0" type="submit" tabindex="0">Add</button>
                        <a class="btn btn-dark w-25 mt-4 p-0" href="javascript:history.back();">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}