<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>UniversityApp</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if request.user.is_authenticated %}
        <span>
            <strong>User:  </strong>
            <a href="{% url 'profile-details' user.pk %}">
                {{ user }}
{#                <img#}
{#                    class="border rounded-circle mx-auto mb-3"#}
{#                    src="/static/img/testimonial-4.jpg"#}
{#                    style="width: 30px; height: 30px;"#}
{#                    alt="#"#}
{#                >#}
            </a>
        </span>
    {% else %}
        <span><strong>User:  </strong>Guest</span>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Courses</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="{% url 'courses-all' %}" class="dropdown-item">All Courses</a>
                    <a href="{% url 'categories' %}" class="dropdown-item">Categories</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'course-create' %}" class="dropdown-item">Add Course</a>
                    {% endif %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <a href="#" class="nav-item nav-link">Q&A Section</a>
            {% endif %}
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-primary py-3 px-lg-3 d-none d-lg-block">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
            <a href="{% url 'register' %}" class="btn btn-warning py-3 px-lg-3 d-none d-lg-block">
                <i class="fa-solid fa-circle-down"></i>
                Register
            </a>
        {% else %}
            <a
                href="#" class="btn btn-warning py-3 px-lg-3 d-none d-lg-block"
                onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
            >
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        {% endif %}
    </div>
</nav>
<!-- Navbar End -->


<form id="logout-form" method="post" style="display: none" action="{% url 'logout' %}">
    {% csrf_token %}
</form>