{% extends 'base.html' %}

{% block content %}
    <!-- Course Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-150 h-auto" src="{{ course.photo }}" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">{{ course.category }}</h6>
                    <hr>
                    <h1 class="mb-2 fs-3">
                        {{ course.name }}

                        {% if user.profile.course_id is None %}
                            <!-- If user NOT in ANY course-->
                            <a class="btn btn-primary m-lg-2 py-2 px-3 mt-0" href="{% url 'user-add' course.slug %}"><i class="fa-solid fa-plus"></i> Join Course</a>
                            <!-- If user HAS ALREADY JOINED course -->
                        {% elif user.profile.course_id == course.pk %}
                            <span class="badge bg-primary"><i class="fa-solid fa-check"></i>Joined!</span>
                            <a href="{% url 'user-remove' course.slug %}"><span class="badge bg-light">Quit?</span></a>
                        {% endif %}
                    </h1>

                    <p class="mb-3 fs-6"><i class="fa-solid fa-user-tie"></i> {{ lector }}</p>
                    {% if course.lector and request.user.is_superuser %}
                        <a
                            href="{% url 'lector-remove' course.slug %}"
                            class="flex-shrink-0 btn btn-sm btn-warning px-2"
                            style="border-radius: 30px;"
                        >
                            Remove lector
                        </a>
                    {% endif %}
                    <hr>
                    <p class="mb-4 fs-20"><i class="fa-solid fa-circle-info"></i> {{ course.description }}</p>
                    <hr>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-calendar"></i> {{ course.start_date }}</span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-star"></i> <strong>{{ course.credits }}</strong> credits</span>
                    <span class="mb-4 m-lg-4 fs-6">
                        <i class="fa-regular fa-clock"></i>
                        <strong>{{ course.duration }}</strong>
                        weeks
                    </span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-solid fa-users"></i>
                        {% if not course.lector %}
                            {{ course.profiles.count }}
                        {% else %}
                            {{ course.profiles.count|add:-1 }}
                        {% endif %}
                        student/s</span>
                    <hr>
                    {% if request.user.profile.is_lector and request.user.profile.course_id == course.pk %}
                        <a class="btn btn-success py-2 px-4 mt-2" href="{% url 'course-edit' course.slug %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    {% elif request.user.is_superuser %}
                        <a class="btn btn-success py-2 px-4 mt-2" href="{% url 'course-edit' course.slug %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <a class="btn btn-danger py-2 px-4 mt-2" href="{% url 'course-delete' course.slug %}"><i class="fa-solid fa-trash"></i> Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Start Comments section -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h6 class="section-title bg-white text-center text-primary px-3 mb-5">Comments section</h6>

                    <!-- Start Comment Form -->
                    <div class="form-control mb-5">
                        <form method="post" action="{% url 'add-comment' course.slug %}">
                            {% csrf_token %}
                            {{ comment_form }}
                            <button class="btn btn-primary py-1 fs-6" type="submit" id="button-addon2">Comment</button>
                        </form>
                    </div>
                    <!-- End Comment Form -->

                </div>

                <!-- Comment Item -->
                {% for comment in comments %}
                    <div class="testimonial-item mb-3">
                        <a
                            href="{% url 'profile-details' comment.user.profile.pk %}"
                            class="text-decoration-none mb-0"
                        >
                            <img
                                class="rounded-circle p-2 mb-0"
                                src="{{ comment.user.profile.personal_image }}"
                                style="width: 40px; height: 40px;"
                                alt="#"
                            >
                            <span class="text-start" style="font-size: 0.9em;">
                                {{ comment.user.profile.get_full_name }}
                            </span>
                        </a>
                        <span class="text-start p-lg-1" style="font-size: 0.7em;">
                            {{ comment.created_at }}
                        </span>
                        <div class="testimonial-text bg-light text-md-start p-2">
                            <p class="lh-1 mb-1" style="font-size: 0.8em">
                                {{ comment.content }}
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <h1 class="mb-5 text-center">No comments for this course yet...</h1>
                {% endfor %}
                <!-- End Comment Item -->

            </div>
        </div>
        <!-- End Comments section -->

    </div>
    <!-- Course End -->
{% endblock %}