{% extends 'base.html' %}

{% block content %}
    <!-- Course Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-150 h-auto" src="{{ course.photo }}" alt=""
                             style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">{{ course.category }}</h6>
                    <hr>
                    <h1 class="mb-2 fs-3">
                        {{ course.name }}

                        {% if user.profile.course_id is None %}
                            <!-- If user NOT in ANY course-->
                            <a class="btn btn-primary m-lg-2 py-2 px-3 mt-0" href="{% url 'user-add' course.slug %}"><i class="fa-solid fa-plus"></i> Join Course</a>
                            <!-- If user HAS ALREADY JOINED course -->
                        {% elif user.profile.course_id == course.pk %}
                            <span class="badge bg-primary"><i class="fa-solid fa-check"></i>Joined!</span>
                            <a href="{% url 'user-remove' %}"><span class="badge bg-light">Quit?</span></a>
                        {% endif %}
                    </h1>

                    <p class="mb-3 fs-6"><i class="fa-solid fa-user-tie"></i> John Doe</p>
                    <hr>
                    <p class="mb-4 fs-20"><i class="fa-solid fa-circle-info"></i> {{ course.description }}</p>
                    <hr>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-calendar"></i> {{ course.start_date }}</span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-regular fa-star"></i> <strong>{{ course.credits }}</strong> credits</span>
                    <span class="mb-4 m-lg-4 fs-6">
                        <i class="fa-regular fa-clock"></i>
                        <strong>{{ course.duration }}</strong>
                        weeks
                    </span>
                    <span class="mb-4 m-lg-4 fs-6"><i class="fa-solid fa-users"></i> 12 students</span>
                    <hr>
                    <a class="btn btn-success py-2 px-4 mt-2" href="{% url 'course-edit' course.slug %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a class="btn btn-danger py-2 px-4 mt-2" href="{% url 'course-delete' course.slug %}"><i class="fa-solid fa-trash"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Course End -->
{% endblock %}