{% extends 'base.html' %}

{% block content %}
    <div class="form-section">
        <div class="form-container">
            <h2 class="mb-4">Registration:</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    {{ field.help_text }}
                {% endfor %}
                <button class="btn btn-primary w-25 p-1 mt-4" type="submit" tabindex="0">Register</button>
                <a class="btn btn-dark w-25 p-1 mt-4" href="javascript:history.back();">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}